<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GasEquipt.Properties.Settings.gazmechConnectionString"
            connectionString="server=localhost;user id=root;password=fshr1666;persistsecurityinfo=True;database=gazmech;charset=utf8"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>